#root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 45px
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .main-content {
    padding: 1rem;
    margin-top: 0.5rem;
  }

  .section-title {
    font-size: 1.25rem;
  }

  .content-wrapper {
    max-width: 90%;
    margin: 0 auto;
  }

}